    body {
  height: 100%;
  width: 100%;
  background-color: #d2a0a0;
  color: #6e0d0d;
  font-style: oblique;
 }
    header {
  width: 100%;
  margin: auto;
  border-bottom: 5px solid #6e0d0d;
  text-align: center;
}
header h1,nav {
  text-align: center;
}
header nav li {
  display: inline-block; 
  background-color: rgb(221, 187, 187);
  border: 1px rgb(221, 187, 187);
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}
li a {
  color: inherit;
}
main {
  width: 100%;
  margin: auto;
  border: 5px black;
  border-radius: 25px; 
}
h2 {
    text-align: start;
}
h3 {
    text-align: center;
}
img {
    display: flexbox;
    width: 50%;
    height: auto;
    inline-size: 50%;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
}
figcaption {
    text-align: start;
}
footer li {
  display: inline-block; 
  background-color: rgb(221, 187, 187);
  border: 1px rgb(221, 187, 187);
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}
footer {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 15px;
}